.content{
  width: 100%;
  &__box{
    border: 1px solid $colorGray;
    border-radius: 4px;
    // background-color: rgba($color: $colorGray, $alpha: .2);
    display: flex;
    flex-direction: column;
    gap: $contentGap;
    width: 100%;
    min-width: 0;
    padding: 20px $contentGap $contentGap;
  }

  &__header{
    border-bottom: 1px solid $colorPrimary;
    padding-bottom: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    h4{
      color: $colorPrimary;
    }
    svg{
      color: $colorPrimary;
      opacity: .6;
      &:hover{
        opacity: 1;
      }
    }
  }
  &__popular{
    .content__header{
      border-color: $colorAccent;
    }
    h4{
      color: $colorAccent ;
    }
    svg{
      color: $colorAccent;
    }
  }
}