.main{
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  gap: 20px;
  &__wrap{
    min-width: 1080px;
  }
  &__container{
    padding: $containerPadding;
  }

  &__content{
    flex: 1;
    // border: 1px solid $colorGray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
  }
  &__aside{
    width: 230px;
    // border: 1px solid;
    align-self: baseline;
    position: sticky;
    top: 30px;
    left: 0;
    border: 1px solid $colorGray;
    border-radius: 4px;
    >div{
      padding: $contentGap;

      &:not(:first-child){
        border-top: 1px solid $colorGray;
      }
    }
  }
}