.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 4px;
  gap: 4px;
  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  &.fullWidth {
    width: 100%;
  }

  &.loading {
    cursor: wait;
  }
  
}

.primary {
  background-color: $colorPrimary;
  color: $colorWhite;
  svg{
    color: $colorWhite;
  }
  &:hover:not(:disabled) {
    background-color: #0056b3;
  }
}

.secondary {
  background-color: rgba($color: $colorGray, $alpha: .3);
  color: #6b6b6b;
  border: 1px solid $colorGray;

  &:hover:not(:disabled) {
    background-color: rgba($color: $colorGray, $alpha: .6);
  }
}

.accent{
  background-color: $colorAccent;
  color: $colorWhite;
  &:hover:not(:disabled) {
    background-color: #ff6b6b;
  }
}

.outline-primary {
  background-color: transparent;
  border: 1px solid $colorPrimary;
  color: $colorPrimary;

  &:hover:not(:disabled) {
    background-color: $colorPrimary;
    color: $colorWhite;
  }
}

.outline-secondary {
  background-color: transparent;
  border: 1px solid $colorGray;
  color: #6b6b6b;

  &:hover:not(:disabled) {
    background-color: rgba($color: $colorGray, $alpha: .3);
    // color: $colorWhite;
  }
}

.outline-accent {
  background-color: transparent;
  border: 1px solid $colorAccent;
  color: $colorAccent;

  &:hover:not(:disabled) {
    background-color: $colorAccent;
    color: $colorWhite;
  }
}


.small {
  height: 24px;
  font-size: 11px;
  font-weight: 400;
}

.medium {
 
  height: 28px;
  font-size: 12px;
}

.large {
  height: 32px;
  font-size: 14px;
}

.icon{
  width: 20px;
  height: 20px;
  padding: 0;
  svg{
    width: 13px;
    height: 13px;
  }
}

.none{
  background-color: transparent;
  color: $colorGrayDark;
  height: auto ;
  width: auto;
  padding: 0 4px;
  &:hover:not(:disabled) {
    background-color: transparent;
    color: $colorBlack;
  }
}

.spinner {
  display: inline-block;
  width: 16px;
  height: 1px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}