.header{
  height: 80px;
  padding: $containerPadding;
  &__wrap{
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
  }

  &__logo{
    a{
      font-size: 30px;
      color: $colorPrimary;
      font-weight: 700;
      font-family: HakgyoansimTtwimteul, sans-serif;
    }
  }

  &__search{
    display: flex;
    height: 42px;
    border-radius: 4px;
    overflow: hidden;
    flex-direction: row;
    max-width: 400px;
    width: 100%;
    border: 2px solid $colorGray; 
    &:hover{
      border-color: $colorPrimary;
      .header__search__btn{
        background-color: $colorPrimary;
      }
    } 
    &:focus-within{
      border-color: $colorPrimary;
      .header__search__btn{
        background-color: $colorPrimary;
      }
    }
    
    &__btn{
      height: 100%;
      background-color: $colorGray;
      color: $colorWhite;
    }
  }

}

.nav{
  padding: $containerPadding;
  background-color: $colorPrimary;
  height: 42px;
  &__wrap{
    max-width: $containerWidth;
    margin: 0 auto;
    height: 100%;
  }
  &__ul{
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__li{
    display: flex;
    align-items: center;
    height: 100%;
    &::after{
      content: '';
      display: block;
      width: 1px;
      height: 12px;
      background-color: $colorGray;
      margin: 0 12px;
    }

    &:last-child{
      &::after{
        display: none;
      }
    }
    a{
      height: 100%;
      display: flex;
      align-items: center;
      p{
        &:hover{
          color: $colorGray;
        }
      }
    }
  }
}