.h1,.h2,.h3,.h4,.h5,.p{
  color: $colorBlack;

  &.gray{
    color: #868e96;
  }
  &.white{
    color: $colorWhite;
  }
  &.red{
    color: $colorRed;
  }
  &.orange{
    color: $colorAccent;
  }
  &.blue{
    color: $colorPrimary;
  }
  &.primary{
    color: $colorPrimary;
  }
  &.underline{
    &:hover{
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
  &.ellipsis{
    @include ellipsis;
    width: 100%;
  }
&.fontSize-xs { font-size: 11px; } 
&.fontSize-sm { font-size: 12px; } 
&.fontSize-m  { font-size: 13px; }
&.fontSize-lg { font-size: 16px; } 
&.fontSize-xl { font-size: 18px; } 
}

.h1{
  font-weight: 800;
}

.h2{
  font-weight: 700;
}

.h3{

}

.h4{
  font-size: 16px;
  font-weight: 700;
}

.h5{
  font-weight: 500;
}

.p{
  
}
