.checkbox__Wrap {
  display: inline-flex;
  position: relative;
  align-items: center;
  // margin-bottom: 10px;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 3px;
  &.disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &:checked ~ .checkbox {
    color: $colorPrimary;
  }

  // &:focus ~ .checkbox {
  //   border-color: $colorPrimary;
  // }
}

.checkbox {
  width: 14px;
  color: $colorGray;
}


.errorText {
  color: $colorRed;
  font-size: 12px;
  margin-top: 4px;
}