// 레이아웃 관련
$maxWidth: 1080px;


//컬러
$colorPrimary: #4169E1;
$colorSecondary: #FECC6A;
$colorAccent: #EB6548;
$colorCoral: #FF9E7B;
$colorNavy: #232D3F;
$colorGray: #EEEDEB;
$colorRed: #FF0000;

$colorWhite: #fff;
$colorBlack: #161616;
$colorGray: #d3d3d3;
$colorGrayDark: #a9a9a9;

//폰트사이즈
$fontSizeXSmall: 12px;
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$fontSizeXLarge: 20px;
$fontSizeTitle: 24px;

//모바일 사이즈
$fontSizeMobileSmall: 10px;
$fontSizeMobileMedium: 12px;
$fontSizeMobileLarge: 14px;

//트랜지션
$transition: .3s ease-in;


//반응형
$breakpointMedium: 768px;
$breakpointLarge: 992px;

//레이아웃
$containerPadding: 0 20px;
$containerWidth: 1080px;



 