@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/SpoqaHanSansNeo-Bold.woff2) format('woff2'),
         url(/fonts/SpoqaHanSansNeo-Bold.woff) format('woff');
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/SpoqaHanSansNeo-Medium.woff2) format('woff2'),
         url(/fonts/SpoqaHanSansNeo-Medium.woff) format('woff');
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/SpoqaHanSansNeo-Regular.woff2) format('woff2'),
         url(/fonts/SpoqaHanSansNeo-Regular.woff) format('woff');
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/SpoqaHanSansNeo-Light.woff2) format('woff2'),
         url(/fonts/SpoqaHanSansNeo-Light.woff) format('woff');
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/SpoqaHanSansNeo-Thin.woff2) format('woff2'),
         url(/fonts/SpoqaHanSansNeo-Thin.woff) format('woff');
}

//로고폰트
@font-face {
	font-family: 'HakgyoansimTtwimteul';
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/HakgyoansimTtwimteul.otf) format('opentype')
}
