@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 700;
	font-display: swap;
	src: local('SpoqaHanSansNeo Bold'), url(/fonts/SpoqaHanSansNeo-Bold.otf) format('opentype')
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 500;
	font-display: swap;
	src: local('SpoqaHanSansNeo Medium'), url(/fonts/SpoqaHanSansNeo-Medium.otf) format('opentype')
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 400;
	font-display: swap;
	src: local('SpoqaHanSansNeo Regular'), url('/fonts/SpoqaHanSansNeo-Regular.otf') format('opentype')
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 300;
	font-display: swap;
	src: local('SpoqaHanSansNeo Light'), url(/fonts/SpoqaHanSansNeo-Light.otf) format('opentype'),
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	font-weight: 100;
	font-display: swap;
	src: local('SpoqaHanSansNeo Thin'), url(/fonts/SpoqaHanSansNeo-Thin.otf) format('opentype')
}
