*{margin:0;padding:0;box-sizing: border-box;}
li,ol,ul{list-style: none;}
html{scroll-behavior: smooth; 
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F7F8;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba($color: $colorBlack, $alpha: .8);
    border-radius: 8px;
  }
}
body{font-family: SpoqaHanSansNeo, sans-serif; line-height: 1.5; overscroll-behavior-y: none; }
img, picture, video, canvas, svg {display: block;max-width:100%;object-fit: cover;max-height: 100%;
}
button {background:none;border:0;cursor:pointer; display: flex; align-items: center; justify-content: center;  color: #000; padding: 0 8px; font-family: SpoqaHanSansNeo, sans-serif; line-height: 1.5;}
a{text-decoration:none; cursor: pointer; color: #000; display: inline-flex;}
table {border-collapse:collapse;border-spacing:0}
*:after,*::before{display: flex; }
a,span{color: $colorBlack;}
input:not( 
  [type="checkbox"]
  [type="radio"]
  [type="file"]
  [type="date"]
  [type="time"]
  [type="color"]
), textarea{border: none;outline:none; height: 100%;  font-family: SpoqaHanSansNeo, sans-serif; font-size: 13px; flex: 1;  border-radius: 4px; padding: 0 8px;}