.preview {
  &__ul {
    display: flex;
    flex-direction: column;
  }

  &__li {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    border-bottom: 1px solid $colorGray;
    gap: 6px;
    &:last-child {
      border-bottom: none;
    }
  }
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    display: flex;
    min-width: 0;
    white-space: nowrap;
    a{
      display: inline-block;
      max-width: 65%;
      &:hover{
        p{
          color: $colorPrimary;
        }
      }
    }
  }

  &__content {
    margin-bottom: 8px;
    span {
      font-size: 12px;
      line-height: 1.4;
    }
    mark {
      background-color:$colorSecondary;
      color: black;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 12px;

    > div {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  &__author {
    min-width: 60px;
  }

  &__views {
    min-width: 50px;
    @include responsive(768px){
      display: none !important;
    }
  }

  &__date {
    margin-left: auto;
    @include responsive(768px){
      display: none !important;
    }
  }
}