.list{

  &__ul{
    display: flex;
    flex-direction: column;
  }

  &__li{
    display: flex;
    justify-content: space-between;
    height: 32px;
    border-bottom: 1px solid $colorGray;
    align-items: center;
    gap: 12px;

    &:last-child{
      border-bottom: none;
    }
    >div{
      display: flex;
      align-items: center;
      gap: 4px;

    }
  }
  &__title{
    flex: 1;
    min-width: 0;
    display: flex;
    min-width: 0;
    white-space: nowrap;
    a{
      display: inline-block;
      max-width: 80%;
      &:hover{
        p{
          color: $colorPrimary;
        }
      }
    }

  }
  &__author{
    min-width: 60px;
  }
  &__views{
    min-width: 50px;
  }
}