.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  &__btn{
    border: 1px solid $colorGray;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    button {
      width: 24px;
      height: 24px;
      font-size: 12px;
      padding: 0;
      background-color: $colorWhite;
      color: $colorBlack;
      cursor: pointer;
      transition: all 0.3s ease;
      border-right: 1px solid $colorGray;
      &:last-child{
        border-right: none;
      }
      &:hover {
        background-color: rgba($color: $colorPrimary, $alpha: .2);
      }
      &.active {
        background-color: $colorPrimary;
        color: $colorWhite;
        border-color: $colorPrimary;
      }
    }
  }


}